body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 20s ease infinite;
    scroll-behavior: smooth;
    /*background-color: rgb(80 22 196);*/
}

section {
   /* background-color: #ff6a00;*/
}

.hero {
    /*background-color: #0c1a69;*/
    /*    background: rgb(176,15,136);
    background: radial-gradient(circle, rgba(176,15,136,1) 0%, rgba(30,30,126,1) 59%);*/
    background: rgb(142,0,107);
    background: radial-gradient(circle, rgba(142,0,107,1) 0%, rgba(30,30,126,1) 59%);
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: #0c1a69;
    color: white;
    text-align: center;
    padding: 80px;
    clip-path: polygon(90% 20%, 100% 100%, 50% 100%, 0% 100%, 10% 20%, 50% 0%, 50% 0%);
}

nav {
    display:flex;
    justify-content: space-between;
    border-bottom: dotted;
    border-width: 20px;
    border-color: yellow;
}

ul {
    display: flex;
    list-style-type: none;
    width: 1100px;
    justify-content: space-around;
    font-size: 10px  !important;
}
ol {
    align-content: center;
        font-size: 30px;
        padding:50px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    float: left;
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    margin-left:50px;
}

.button:hover {
    background-color: #ff00dc;
}

.button:active {
    background-color: #ffd800;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 50px;
    margin: 30px;
}
.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: red;
    border-radius: 50px;
    margin: 35px;
    border-block: dashed;
    border-block-color: black;
}
/*.sub-section img{
    box-shadow:10px 10px 20px #ffd800;
}*/

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    background-color: #b1431a;
    text-align: center;
    padding: 80px;
    border-radius: 50px;
    margin: 35px;
}
.training {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #440707;
    text-align: left;
    align-items: center;
    border-radius: 50px;
    margin: 35px;
}
.awards {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #674900;
    text-align: left;
    align-items: center;
    border-radius: 50px;
    margin: 35px;
}
.th2{
    text-align:center;
    /*border:dotted;
    border-width:thick;*/
    
}
.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #ffd800, inset -20px 0 80px #0ff,
                inset 20px 0 300px #ffd800, inset -20px 0 300px #0ff,
                0 0 50px #fff, -10px 0 80px #ffd800, 10px 0 80px #0ff;
}

.headshot-container {
    display: flex;
    align-items: center;
 
}

.project-card {
    width: 300px;
    height: 520px;
    box-shadow: 10px 10px 30px #130cb5;
    margin: 30px;
    background-color: #ffd800;

}
.ex-card{
    width: 1000px;
    height: auto;
    box-shadow: 10px 10px 30px #130cb5;
    margin: 30px;
    background-color: #ffd800;
}
.project-car {
    width: 700px;
    height: 800px;
    box-shadow: 10px 10px 30px #ff00dc;
    margin: 50px;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.award-image {
    margin-top: 25px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.j-image {
    width: 550px;
    height: 400px;
    margin: 25px;
    border-radius: 0px;
}
.j1-image {
    width: 700px;
    height: 500px;
    margin: 25px;
    border-radius: 0px;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}
/**/
.hero {
    opacity: 1;
    pointer-events: all;
    clip-path: polygon(100% 0%, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 0);
}

.hero--hidden {
    opacity: 0;
    pointer-events: none;
}

.hero--visible {
    opacity: 1;
    pointer-events: all;
}

.hero--animate {
    transition: opacity 0.4s ease-in-out;
}
.sub-section {
    opacity: 1;
    pointer-events: all;
}

.sub-section--hidden {
    opacity: 0;
    pointer-events: none;
}

.hero--visible {
    opacity: 1;
    pointer-events: all;
}

.sub-section--animate {
    transition: opacity 0.4s ease-in-out;
}

.x-image {
    width: 300px;
    height: 300px;
}
.x1-image {
    width: 600px;
    height: 400px;
}
.x11-image {
    width: 400px;
    height: 250px;
}

.x3-image {
    width: 400px;
    height: 600px;
}
.x4-image {
    width: 400px;
    height: 600px;
}
/*.x5-image {
    width: 400px;
    height: 600px;
}*/

@media only screen and (max-width: 1000px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
    .award-image {
        margin-top: 25px;
        width: 350px;
        height: 175px;
        border-radius: 10px;
    }
    .x3-image {
        width: 300px;
        height: 600px;
    }

    .x4-image {
        width: 300px;
        height: 600px;
    }
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }
    .j-image {
        width: 400px;
        height: 200px;
        margin: 4px;
        border-radius: 0px;
    }
    .j1-image {
        width: 400px;
        height: 300px;
        margin: 25px;
        border-radius: 0px;
    }
    .logo {
        display:none;
    }
}
a{
    text-decoration:none;
    text-align:center;
    color:white;
    font-size:20px;
}
@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 75%;
    }

    100% {
        background-position: 0% 75%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px black;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #e78632;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

